%table.table
  %tbody
    - articles.each do |article|
      %tr
        %td= link_to article.title, [article.user, article]
        %td= render 'tags/show', tags: article.tag_list
        %td= article.user.name
