= content_for(:html_title) { 'タグ一覧' }

%h1 タグ一覧

%table.table.tags-table
  %tbody
    - @tags.each do |tag|
      -# for ajax
      %tr{class: "tags-row-#{tag.id}"}
        = render 'row', tag: tag

= raw pagy_bootstrap_nav(@pagy)
